body {
    background-image: url(b1.png);
    background-color: black;
    font-size: 1.6rem; 
    font-family: "Open Sans", sans-serif;
    color: #2b3e51;
  }
  h2 {
    font-weight: 300;
    text-align: center;
  }
  p {
    position: relative;
  }
 

  #login-form-wrap {

    width: 16em;
    margin-right: 30px auto;
    text-align: center;
    padding: 20px 0 0 0;
    border-radius: 38px;
    border-color: #ff9100;
  }
  #login-form {
    padding: 0 60px;
  }
  input {
    display: block;
    border-radius: 38px;
    width: 100%;
    outline: none;
    height: 60px;
    line-height: 60px;
    border-radius: 4px;
  }
  #email,
  #password {
    border: #ffcd2d;;
    display: block;
    background-color: transparent;
    border-color: #ff9100;
    color:aliceblue; 
    cursor: pointer;
    font-size: 18px;
    position: relative;
    display: inline-block;
    cursor: pointer;
    text-align: center; 
    border-radius: 38px;
  }
 
input[type="submit"] {
    border: none;
    display: block;
    background-color: #FFCD2D;
    color: #000; 
    cursor: pointer;
    font-size: 18px;
    position: relative;
    display: inline-block;
    cursor: pointer;
    text-align: center; 
    border-radius: 38px;
  }
.validation{
    border-radius: 38px; 
    
}